In [9]:
# tables bounds check

import numpy as np
import pandas as pd
from heavylight import Table

In [2]:
ok = np.array([18, 20, 25])
bad = np.array([10, 18, 30, 45])

In [7]:
np.all((18 <= ok) & (ok <= 26))

True

In [8]:
np.all((18 <= bad) & (bad <= 26))

False

In [14]:
df = pd.DataFrame({
    "age|int": [18,19,20] * 3,
    "dur|int": [10, 10, 10, 11, 11, 11, 12, 12, 12],
})
df['values'] = df['age|int'] * df['dur|int']
df

   age|int  dur|int  values
0       18       10     180
1       19       10     190
2       20       10     200
3       18       11     198
4       19       11     209
5       20       11     220
6       18       12     216
7       19       12     228
8       20       12     240

In [16]:
tab_safe = Table(df, rectify=True)

In [17]:
tab_unsafe = Table(df, rectify=True, safe=False)

In [18]:
tab_safe[18, 10]

180

In [19]:
tab_unsafe[18,10]

180

In [20]:
tab_safe[17, 10]

KeyError: 'values are not between table minimum (18) and maximum (20)'

In [29]:
tab_unsafe[17, 10] # this is wrong, should have an error

240

In [26]:
%%timeit
tab_safe[18, 10]

UsageError: option -v not recognized ( allowed: "n:r:tcp:qo" )

In [25]:
%%timeit
tab_unsafe[18, 10]

689 ns ± 4.05 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)