In [19]:
# Create a table

In [1]:
import pandas as pd
import numpy as np

In [2]:
def q_x(t):
    return 0.02*2.64**(0.04 * (t + 30)) + 0.002

In [3]:
x = np.arange(0, 51)
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [4]:
df = pd.DataFrame({"x|int":x})
df.tail()

    x|int
46     46
47     47
48     48
49     49
50     50

In [6]:
df["value|float"] = df["x|int"].map(q_x)

In [7]:
df.tail()

    x|int  value|float
46     46     0.384566
47     47     0.399713
48     48     0.415461
49     49     0.431832
50     50     0.448851

In [7]:
df.to_csv("sample_q_x_table.csv", index=False, encoding="UTF8")

# Check it works

In [8]:
from heavylight import Table

In [9]:
table = Table.from_csv("sample_q_x_table.csv")

In [10]:
table

Can use a call `table(x)` or an index lookup `table[x]` to get the value

In [17]:
table(30)

0.2075319866730252

In [18]:
table[30]

0.2075319866730252

In [11]:
q_x(30)

0.20753198667302525

In [14]:
df["from_table"] = df["x|int"].map(table)
df["error"] = df["from_table"] - df["value|float"]

In [16]:
df["error"].abs().sum()

1.817990202823694e-15