In [1]:
import lancedb

In [2]:
import os
os.chdir("/")

In [3]:
conn=lancedb.connect("./db/lancedb")

In [4]:
conn.table_names()

['qa_chunk_text-embedding-3-small']

In [5]:
table = conn.open_table("qa_chunk_text-embedding-3-small")

In [6]:
table.to_pandas()

,id,vector,text,metadata
0,9637842ec646dbf83db462c52f0e39d4,"[0.010136966593563557, -0.018373873084783554, ...",网络错误，无法连接 google,"{'solution': '设置代理 127.0.0.1:7891', 'tags': ['..."
1,ec2fcb66923f1e466b1ec5a6f458be57,"[0.02685457281768322, -0.048135943710803986, -...",网络错误，无法连接 youtube,"{'solution': '设置代理 127.0.0.1:7891', 'tags': ['..."

In [33]:
table.update()

ValueError: Either values or values_sql must be provided