In [2]:
import os

os.chdir("/")

In [3]:
from aa_rag.db.tinydb_ import TinyDBDataBase

db = TinyDBDataBase()

In [8]:
with db.get_table("test") as table:
    table.insert({"name":"John", "age": 20})
    print(table.select({"name": {"$eq": "John"}, "age": {"$gt": 30}}))

[]